<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hakutulos</title>
</head>
<body>
<div>
    <h2 th:text="'Hakutulos nimellä ' + ${hakusana}"></h2>
    <ul th:each="henkilo : ${henkilot}">
        <li><a th:href="@{/henkilokortti/{id}(id=${henkilo.id})}" th:text="${henkilo.toString()}"></a></li>
    </ul>
</div>
<a href="/">Palaa takaisin aloitussivulle.</a>
</body>
</html>

<!--<a th:each="henkilo : ${henkilot}" th:href="@{/henkilokortti/{id}(id=${henkilo.id})}"><li th:text="${henkilo.toString()}"></li></a>-->