<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Henkilokortti</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Sukusivusto</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <table class="nav navbar-nav">
                <tr>
                    <td class="active"><a href="/"><h3>Koti</h3></a></td>
                    <td><a href="/haku"><h3>Haku</h3></a></td>
                    <td><a href="/lisaa"><h3>Lisää jäsen</h3></a></td>
                </tr>
            </table>
        </div>
    </div>
</nav>
<div>
    <h2 th:text="${henkilo.toString()}"></h2>
    <h3 th:text="${henkilo.syntymaAikaToString()+ ' ' +henkilo.kuolinAikaToString()}"></h3>
    <form method="POST" th:action="@{{id}(id=${henkilo.id})}">
        <table>
            <tr>
                <td>Puoliso:</td>
                <td th:if="${henkilo.puoliso()}"><a th:href="@{/henkilokortti/{id}(id=${henkilo.puolisoHenkilo.id})}"
                                                    th:text="${henkilo.puolisoHenkilo.toString()}"></a></td>
                <td th:unless="${henkilo.puoliso()}">Henkilöllä ei ole puolisoa tai puoliso ei ole tiedossa.</td>
                <td th:unless="${henkilo.puoliso()}"><input type="text" placeholder="Puolison id" name="puoliso"></td>
            </tr>
            <tr>
                <td>Isä:</td>
                <td th:if="${henkilo.isaTiedossa()}"><a th:href="@{/henkilokortti/{id}(id=${henkilo.isaHenkilo.id})}"
                                                        th:text="${henkilo.isaHenkilo.toString()}"></a></td>
                <td th:unless="${henkilo.isaTiedossa()}">Isä ei ole tiedossa.</td>
                <td th:unless="${henkilo.isaTiedossa()}"><input type="text" placeholder="Isän id" name="isa"></td>
            <tr>
                <td>Äiti:</td>
                <td th:if="${henkilo.aitiTiedossa()}"><a th:href="@{/henkilokortti/{id}(id=${henkilo.aitiHenkilo.id})}"
                                                         th:text="${henkilo.aitiHenkilo.toString()}"></a></td>
                <td th:unless="${henkilo.aitiTiedossa()}">Äiti ei ole tiedossa.</td>
                <td th:unless="${henkilo.aitiTiedossa()}"><input type="text" placeholder="Äidin id" name="aiti"></td>
            </tr>
            <tr th:unless="${henkilo.isaTiedossa() && henkilo.aitiTiedossa() && henkilo.puoliso()}">
                <td></td>
                <td></td>
                <td><input type="submit" value="Lisää"></td>
            </tr>
            <tr>
                <td th:unless="${henkilo.getLapset()==null}">Lapset:</td>
            </tr>
            <tr th:each="lapsi: ${henkilo.getLapset()}">
                <td></td>
                <td><a th:href="@{/henkilokortti/{id}(id=${lapsi.id})}" th:text="${lapsi.toString()}"></a></td>
            </tr>
        </table>
    </form>
</div>
<a th:href="@{/puu/{id}(id=${henkilo.id})}">Näytä vanhempien puu.</a>
<a th:href="@{/paivita/{id}(id=${henkilo.id})}">Päivitä tietoja.</a><br>
</body>
</html>