<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Henkilokortti</title>
</head>
<body>
<div>
    <p th:text="${henkilo.toString()}"></p>
    <form method="POST" th:action="@{{id}(id=${henkilo.id})}">
        <table>
            <tr>
                <td>Isä:</td>
                <td th:if="${henkilo.isaTiedossa()}" th:text="${henkilo.isaHenkilo.toString()}"></td>
                <td th:unless="${henkilo.isaTiedossa()}">Isä ei ole tiedossa.<input type="text"
                                                                                    placeholder="Isän id"
                                                                                    name="isa">
                </td>
            </tr>
            <tr>
                <td>Äiti:</td>
                <td th:if="${henkilo.aitiTiedossa()}" th:text="${henkilo.aitiHenkilo.toString()}"></td>
                <td th:unless="${henkilo.aitiTiedossa()}">Äiti ei ole tiedossa. <input type="text"
                                                                                       placeholder="Äidin id"
                                                                                       name="aiti">
                </td>
            </tr>
            <tr><input type="submit" value="Lisää"></tr>
        </table>
    </form>
</div>
<a href="/">Palaa takaisin aloitussivulle</a>
</body>
</html>