<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sukusivusto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Sukusivusto</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <table class="nav navbar-nav">
                <tr>
                    <td class="active"><a href="/"><h3>Koti</h3></a></td>
                    <td><a href="/haku?hakusana="><h3>Haku</h3></a></td>
                    <td><a href="/lisaa"><h3>Lisää jäsen</h3></a></td>
                </tr>
            </table>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Sukusivusto</h1>
        <h2>
            Tervetuloa sukusivustolle. Voit hakea sukua tietokannasta, lisätä suvun jäseniä ja päivittää nykyisiä tietoja.
        </h2>
    </div>
    <!--<div>-->
        <!--<ul>-->
            <!--<a th:each="henkilo : ${henkilot}" th:href="@{/henkilokortti/{id}(id=${henkilo.id})}">-->
                <!--<li th:text="${henkilo.toString()}"></li>-->
            <!--</a>-->
        <!--</ul>-->
    <!--</div>-->
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>