<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sukusivusto</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Koti</a></li>
                <li><a href="#search">Haku</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Sukusivusto</h1>
        <h2>
            <!--<span th:text="'Tervetuloa ' + ${message} + '!'"></span>-->
        </h2>
    </div>
    <div>
        <ol>
            <a th:each="henkilo : ${henkilot}" th:href="@{/henkilokortti/{id}(id=${henkilo.id})}"><li th:text="${henkilo.toString()}"></li></a>
        </ol>
    </div>
    <div>
        <form method="GET" action="/hakutulos">
            Haku nimellä:<br/>
            <input type="text" name="hakusana"/><br/>
            <input type="submit" value="Hae"/>
        </form>
        <form method="GET" action="/hakutulos">
            Haku syntymäajalla (VVVV-KK-PP):<br/>
            <input type="text" name="hakusana"/><br/>
            <input type="submit" value="Hae"/>
        </form>
        <form method="POST" action="/lisatty">
            Lisaa henkilö:<br/>
            <input type="text" name="etunimi"/><br/>
            <input type="text" name="sukunimi"/><br/>
            <input type="text" name="syntymaaika"/>(VVVV-KK-PP)<br/>
            <input type="submit" value="Lisää"/>
        </form>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>