<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lisätty</title>
</head>
<body>
<div>
    <p th:each="lisatty : ${lisatty}" th:text="${lisatty.toString() + ' ' + lisatty.syntymaAikaToString()}"></p>
</div>
<div>
    <form method="POST" action="/lisatty">
        Lisaa henkilö:<br/>
        <input type="text" placeholder="Etunimi" name="etunimi"/><br/>
        <input type="text" placeholder="Sukunimi" name="sukunimi"/><br/>
        <input type="text" placeholder="Syntymäaika" name="syntymaaika"/>(VVVV-KK-PP)<br/>
        <input type="submit" value="Lisää"/>
    </form>
</div>
<a href="/">Palaa takaisin aloitussivulle</a>
</body>
</html>