<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lisäys</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Sukusivusto</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <table class="nav navbar-nav">
                <tr>
                    <td class="active"><a href="/"><h3>Koti</h3></a></td>
                    <td><a href="/haku?hakusana="><h3>Haku</h3></a></td>
                    <td><a href="/lisaa"><h3>Lisää jäsen</h3></a></td>
                </tr>
            </table>
        </div>
    </div>
</nav>
<div>
    <div th:if="${lisatty}">
        <p th:if="${lisatty}" th:each="lisatty : ${lisatty}">
            <a th:href="@{/henkilokortti/{id}(id=${lisatty.id})}"
               th:text="${lisatty.toString() + ' ' + lisatty.syntymaAikaToString()}"></a>
        </p>
    </div>
    <div th:unless="${lisatty}">
        <p th:text="${virhe}"></p>
        <p th:each="loytynyt : ${loytynyt}"><a th:href="@{/henkilokortti/{id}(id=${loytynyt.id})}"
                                               th:text="${loytynyt.toString()}"></a></p>
    </div>
    <p th:text="${lisaysohje}"></p>
</div>
<div>
    <form method="POST" action="/lisaa">
        Lisaa henkilö:<br/>
        <input type="text" placeholder="Etunimi" name="etunimi"/><br/>
        <input type="text" placeholder="Sukunimi" name="sukunimi"/><br/>
        <input type="text" placeholder="Syntymäaika" name="syntymaaika"/>(VVVV-KK-PP)<br/>
        <input type="submit" value="Lisää"/>
    </form>
</div>
</body>
</html>