<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Päivitä henkilökortti</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Sukusivusto</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <table class="nav navbar-nav">
                <tr>
                    <td class="active"><a href="/"><h3>Koti</h3></a></td>
                    <td><a href="/haku"><h3>Haku</h3></a></td>
                    <td><a href="/lisaa"><h3>Lisää jäsen</h3></a></td>
                </tr>
            </table>
        </div>
    </div>
</nav>
<div>
    <h2 th:text="${henkilo.toString()}"></h2>
    <form method="POST" th:action="@{{id}(id=${henkilo.id})}">
        <table>
            <tr>
                <td>Etunimi:</td>
                <td th:text="${henkilo.etunimi}"></td>
                <td><input type="text"
                           placeholder="Etunimi"
                           name="etunimi"></td>
            </tr>
            <tr>
                <td>Sukunimi:</td>
                <td th:text="${henkilo.sukunimi}"></td>
                <td><input type="text"
                           placeholder="Sukunimi"
                           name="sukunimi"></td>
            </tr>
            <tr>
                <td>Syntymäaika:</td>
                <td th:text="${henkilo.syntymaAikaToString()}"></td>
                <td><input type="text"
                           placeholder="VVVV-KK-PP"
                           name="syntymaaika"></td>
            </tr>
            <tr>
                <td>Kuolinaika:</td>
                <td th:text="${henkilo.kuolinAikaToString()}"></td>
                <td><input type="text"
                           placeholder="VVVV-KK-PP"
                           name="kuolinaika"></td>
            </tr>
            <tr>
                <td>Isä:</td>
                <td th:if="${henkilo.isaTiedossa()}" th:text="${henkilo.isaHenkilo.toString()}"></td>
                <td th:unless="${henkilo.isaTiedossa()}">Isä ei ole tiedossa.</td>
                <td><input type="text"
                           placeholder="Isän id"
                           name="isa"></td>
            </tr>
            <tr>
                <td>Äiti:</td>
                <td th:if="${henkilo.aitiTiedossa()}" th:text="${henkilo.aitiHenkilo.toString()}"></td>
                <td th:unless="${henkilo.aitiTiedossa()}">Äiti ei ole tiedossa.</td>
                <td><input type="text"
                           placeholder="Äidin id"
                           name="aiti"></td>
            </tr>
            <tr>
                <td>Puoliso:</td>
                <td th:if="${henkilo.puoliso()}" th:text="${henkilo.puolisoHenkilo.toString()}"></td>
                <td th:unless="${henkilo.puoliso()}">Puolisoa ei ole tai puoliso ei ole tiedossa</td>
                <td><input type="text"
                           placeholder="Puolison id"
                           name="puoliso"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Päivitä"></td>
            </tr>
        </table>
    </form>
    <div>
        <a th:href="@{/henkilokortti/{id} (id=${henkilo.id})}">Näytä henkilökortti.</a><br><br>
    </div>
    <form th:unless="${poistoyritys}" method="GET" th:action="@{/poista/{id}(id=${henkilo.id})}">
        Poista kaikki tämän henkilön tiedot tietokannasta.<br>
        Tietoja ei voi palauttaa poiston jälkeen.<br>
        <input type="submit" value="Poista">
    </form>
    <form th:if="${poistoyritys}" method="GET" th:action="@{/poista/{id}/varmistus(id=${henkilo.id})}">
        Haluatko varmasti poistaa kaikki ylläolevat tiedot pysyvästi tietokannasta?
        <input type="submit" value="Poista">
    </form>
    <form th:if="${poistoyritys}" method="GET" th:action="@{/paivita/{id}(id=${henkilo.id})}">
        Peruuta poisto.
        <input type="submit" value="Peruuta">
    </form>
</div>

</body>
</html>